$primary-normal: #003a70;
$primary-dark: #003a70;
$primary-light: #AE10D7;

$secundary-normal: #CC0B0B;
$secundary-dark: #870000;
$secundary-light: #FF0000;

$black-normal: #161315;
$black-dark: #000000;
$black-light: #3C3C3C;

$white-normal: #FFFFFF;
$white-dark: #D4D4D4;

$blue-normal: #0F0CC5;
$blue-dark: #0B0971;
$blue-light: #0501FF;

$skyBlue-normal: #0D9FC8;
$skyBlue-dark: #00566E;
$skyBlue-light: #13C3F4;