
header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons{
    display: flex;
    img{
        margin-top: 8px;
        height: 50px;
    }
}

.header-logo:hover{
    display: flex;
    animation: translateY 0.8s infinite alternate;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.2);
    }
}

.header-button{
border: 1px solid $white-normal;
padding: 8px 24px;
border-radius: 4px;
color: $white-normal;
background-color: transparent;
transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $secundary-light;
    background-color: $secundary-dark;
}

@media screen and (max-width: 768px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-logo img{
        width: 160px;
        margin-top: 46;
    }
}