* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons {
  display: flex;
}
.header-icons img {
  margin-top: 8px;
  height: 50px;
}

.header-button {
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.bg-home {
  position: relative;
  height: 120%;
}

.bg-home ::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #003a70), url(/assets/pikachu\ -\ Copia.jpg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  color: #FFFFFF;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}

.button-cadastro {
  padding: 14px 28px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  margin: 14px 0;
}

.button-cadastro:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
  transition: background-color 0.8s;
}

.about {
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content img {
  max-width: 200px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

.about2 {
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content2 {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content2 img {
  max-width: 200;
  max-height: 450px;
}

.about-content2 div {
  flex: 1;
}

.about-description2 h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description2 p {
  margin-bottom: 14px;
  line-height: 150%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}

.footer-info {
  text-align: left;
}

.footer-social {
  text-align: right;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  border-bottom: 2px solid #fff;
}

body {
  height: 130vh;
  background-color: #202020;
}

.bg-quiz {
  background-color: #202020;
  z-index: -1;
}

nav.left-bar {
  width: 80px;
  height: 100%;
  background-color: #202020;
  padding: 40px 0 40px 1%;
  box-shadow: 4px 0 0 #003a70;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

nav.left-bar.expandir {
  width: 300px;
}

.btn-barras {
  width: 100%;
  padding-left: 10px;
}
.btn-barras i {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}
ul li.item-menu {
  transition: 0.2s;
}
ul li.ativo {
  background-color: #003a70;
}
ul li.item-menu a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 35px;
}
ul li.item-menu a .text-link {
  margin-left: 70px;
  transition: 0.7s;
  opacity: 0;
}
ul li.item-menu a .icons i {
  font-size: 30px;
  margin-left: 10px;
}
ul li.item-menu:hover {
  background: #003a70;
}

nav.left-bar.expandir .text-link {
  margin-left: 40px;
  opacity: 1;
}

.content-quiz {
  display: flex;
}

.content-home {
  color: #FFF;
  flex-direction: column;
}

.content-text {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.content-text h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-left: 85px;
}
.content-text img {
  margin-left: 100px;
  margin-right: 248px;
  height: 50px;
}

.padding-home {
  display: flex;
  width: 88vw;
  height: 100vh;
  background-color: #ffffff;
  margin-top: 70px;
  margin-left: 110px;
  border-radius: 20px;
}
.padding-home .info-home a {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 12px;
  margin-left: 14px;
  color: #202020;
  font-size: 50px;
  text-decoration: none;
}/*# sourceMappingURL=quizDashboard.css.map */