* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
    height: 130vh;
    background-color: #202020;
}

.bg-quiz{
    background-color: #202020;
    z-index: -1;
}

nav.left-bar{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0 0 $primary-normal;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}


nav.left-bar.expandir{
    width: 300px;
}

.btn-barras{
    width: 100%;
    padding-left: 10px;

    i{
    color: white;
    font-size: 24px;
    cursor: pointer;
    }
}

ul{
    height: 100%;
    list-style-type: none;

    li.item-menu{
     transition: .2s;   
    }

    li.ativo{
        background-color: $primary-normal;
    }

    li.item-menu a{
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        padding: 20px 4%;
        display: flex;
        margin-bottom: 20px;
        line-height: 35px;

        .text-link{
        margin-left: 70px;
        transition: 0.7s;
        opacity: 0;
        }

    .icons{
        i{
            font-size: 30px;
            margin-left: 10px;
        }
    }
    }

    li.item-menu:hover{
        
        background: $primary-normal;
    }
}

nav.left-bar.expandir .text-link{
    margin-left: 40px;
    opacity: 1;
}

.content-quiz{
    display: flex;

}

.content-config{
    color: #FFF;
    flex-direction: column;
}

.content-text{
    display: flex;
    margin-top: 20px;
    width: 100%;
    h1{
        display: flex;
        justify-content: center;
        font-size: 45px;
        margin-left: 85px;
    }
    img{
        margin-left: 100px;
        margin-right: 248px;
        height: 50px;
    }
}



.padding-config{
    display: flex;
    flex-direction: column;
    width: 88vw;
    height: 90vh;
    background-color: #ffffff;
    margin-top: 70px;
    margin-left: 110px;
    border-radius: 20px;
    justify-content: space-evenly;
    justify-content: start;

    .informacao-config{
        display: flex;
        justify-content: space-evenly;
        
    }

    .info-config{

        span.icons1{
            margin-top: 0px;
            
        }

        span.icons2{
            margin-top: 40px;
        }

        span.icons3{
            margin-top: 80px;
        }

        span.icons4{
            margin-top: 120px;
        }

        a{
            height: 30px;
            width: 100%;
            display: flex;
            margin-top: 12px;
            margin-left: 14px;
            color: #202020;
            font-size: 50px;
            text-decoration: none;
        }
    }

        a{
            height: 30px;
            width: 100%;
            display: flex;
            margin-top: 1px;
            margin-left: 14px;
            color: #202020;
            font-size: 50px;
            text-decoration: none;
        }
    }

    .footer-config{
        width: 450px;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1{
            
            color: #202020;
        }
        
        .botao-avaliar{
        color: #FFF;
        background-color: $primary-normal;
        border-radius: 20px;
        width: 180px;
        height: 50px;
        margin-top: 40px;
        }
        .botao-avaliar:hover{
            cursor: pointer;
        }

        p{
            color: #202020;
        }

        .botao-config{

            button.botao-refazer{
            color: #FFF;
            background-color: $primary-normal;
            border-radius: 20px;
            width: 180px;
            height: 50px;
            margin-top: 40px;
            }

            button.botao-refazer:hover{
                cursor: pointer;
            }
    }
    
}