* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons {
  display: flex;
}
.header-icons img {
  margin-top: 8px;
  height: 50px;
}

.header-logo:hover {
  display: flex;
  animation: translateY 0.8s infinite alternate;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.2);
  }
}
.header-button {
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.bg-home {
  position: relative;
  height: 120%;
}

.bg-home ::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #003a70), url(../assetics/pikachu.jpg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  color: #FFFFFF;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}

.button-cadastro {
  padding: 14px 28px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  margin: 14px 0;
}

.button-cadastro:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
  transition: background-color 0.8s;
}

.about {
  overflow: hidden;
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content img {
  max-width: 200px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

.about2 {
  overflow: hidden;
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content2 {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content2 img {
  max-width: 200;
}

.about-content2 div {
  flex: 1;
}

.about-description2 h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description2 p {
  margin-bottom: 14px;
  line-height: 150%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}

.footer-info {
  text-align: left;
}

.footer-social {
  text-align: right;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  border-bottom: 2px solid #fff;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-login {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #003a70);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0c3950;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px;
  border-radius: 40px;
  max-height: 400px;
}

.text-login {
  margin-top: 50px;
  color: #FFF;
  margin-bottom: 30px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.login-content {
  display: flex;
  flex-direction: column;
}

.inputs-login {
  display: flex;
  flex-direction: column;
}

.input_login {
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: transparent;
  border-color: aliceblue;
  padding: 14px;
  color: white;
}

.botao-login {
  display: flex;
  justify-content: center;
}

.login {
  margin-top: 14px;
  border-radius: 10px;
  border-color: black;
  padding: 14px;
  min-width: 210px;
}

.login:hover {
  cursor: pointer;
  background-color: rgba(2, 45, 66, 0.7176470588);
  border-color: #FFF;
  color: #FFF;
}

.ref-to-cadastro {
  margin-top: 70px;
  font-size: 12px;
}
.ref-to-cadastro a {
  color: red;
}/*# sourceMappingURL=styleDoLogin.css.map */