* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons {
  display: flex;
}
.header-icons img {
  margin-top: 8px;
  height: 50px;
}

.header-button {
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.bg-home {
  position: relative;
  height: 120%;
}

.bg-home ::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #003a70), url(/assets/pikachu\ -\ Copia.jpg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  color: #FFFFFF;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}

.button-cadastro {
  padding: 14px 28px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  margin: 14px 0;
}

.button-cadastro:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
  transition: background-color 0.8s;
}

.about {
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content img {
  max-width: 200px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

.about2 {
  color: #FFFFFF;
  background-color: #003a70;
}

.about-content2 {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 34px, 14px, 64px, 14px;
}
.about-content2 img {
  max-width: 200;
  max-height: 450px;
}

.about-content2 div {
  flex: 1;
}

.about-description2 h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description2 p {
  margin-bottom: 14px;
  line-height: 150%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}

.footer-info {
  text-align: left;
}

.footer-social {
  text-align: right;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  border-bottom: 2px solid #fff;
}

body {
  width: 100%;
}

.bg-iniciais {
  content: "";
  display: block;
  position: absolute;
  background-color: #222;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #003a70);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.navBar-iniciais {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons2 {
  display: flex;
}
.header-icons2 img {
  margin-left: 55px;
  margin-top: 8px;
  height: 50px;
}
.header-icons2 img:hover {
  cursor: pointer;
}

.button2 {
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  transition: background-color 0.8s;
  text-decoration: none;
  margin-right: 55px;
}

.button2:hover {
  border: 1px solid #FF0000;
  background-color: #870000;
}

.nav-botao {
  font-size: 24px;
  color: #FFF;
}

.nav-botao:hover {
  cursor: pointer;
}

.texto-iniciais {
  font-size: 35px;
  color: #FFF;
  text-shadow: 0.1em 0.1em 0.2em black;
  z-index: 1;
}

.hero-iniciais {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 280px;
  height: 320px;
  margin-left: 260px;
  margin-top: 70px;
  border-radius: 12px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 0.7s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #003a70;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: solid 2px #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #003a70;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #003a70;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #003a70;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #003a70;
}

/*
    ABOUT POKEMONS
*/
.about-Pokemons {
  background-color: #003a70;
  z-index: -1;
  opacity: 0.9;
}
.about-Pokemons h1 {
  font-size: 40px;
  color: #FFF;
  text-shadow: 0.1em 0.1em 0.2em black;
  display: flex;
  justify-content: center;
}

/*
    ABOUT CHARMANDER
*/
.text-aboutCharmander {
  border: 12px;
  color: #FFF;
  margin-right: 100px;
  font-size: 25px;
  text-align: justify;
}

.about-img {
  height: 350px;
  width: 350px;
}

.about-charmander {
  display: flex;
  margin-top: 25px;
}
.about-charmander img {
  margin-top: 170px;
  margin-left: 120px;
  margin-right: 20px;
}

h2 {
  font-size: 40px;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin-right: 300px;
  margin-top: 75px;
}

/*
    ABOUT SQUIRTLE
*/
.text-aboutSquirtle {
  margin-top: 20px;
  border: 12px;
  color: #FFF;
  margin-right: 100px;
  font-size: 25px;
  text-align: justify;
}

.about-squirtle {
  display: flex;
  margin-top: 25px;
}
.about-squirtle img {
  margin-top: 170px;
  margin-left: 120px;
  margin-right: 20px;
}

/*
    ABOUT BULBASSAURO
*/
.text-aboutBulbassauro {
  margin-top: 25px;
  border: 12px;
  color: #FFF;
  margin-right: 100px;
  font-size: 25px;
  text-align: justify;
}

.about-bulbassauro {
  display: flex;
  margin-top: 25px;
}
.about-bulbassauro img {
  margin-top: 170px;
  margin-left: 120px;
  margin-right: 20px;
}

/*
    ABOUT PIKACHU
*/
.text-aboutPikachu {
  border: 12px;
  color: #FFF;
  margin-right: 100px;
  font-size: 25px;
  text-align: justify;
}

.about-pikachu {
  display: flex;
  margin-top: 25px;
}
.about-pikachu img {
  margin-top: 170px;
  margin-left: 120px;
  margin-right: 20px;
}/*# sourceMappingURL=styleIniciais.css.map */