<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleCadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <div class="bg-cadastro">
        <main class="hero-cadastro">
            <div class="texto-cadastro">
                <h1>Cadastro</h1>
            </div>
            <div class="cadastro-content">
                <div class="inputs-cadastro">
                    <div class="input1">
                        <input placeholder="nome" class="input_cadastro" id="input_nomeCompleto">
                        <input placeholder="nickname" class="input_cadastro2" id="input_nickname">
                    </div>
                    <div class="input2">
                        <input placeholder="email" class="input_cadastro" id="input_email">
                        <input placeholder="seu inicial" class="input_cadastro2" id="input_inicial">
                    </div>
                    <div class="input3">
                        <input type="password" placeholder="senha" class="input_cadastro" id="input_senha">
                        <input type="password" placeholder="confirmar senha" class="input_cadastro2"
                            id="input_confirmarSenha">
                    </div>
                </div>
            </div>
            <div class="botao-cadastro">
                <a id="cadastrar-login" href="#">
                    <button class="botao-cadastrar" onclick="fazerCadastro()">Cadastrar</button>
                </a>
            </div>
            <div class="ref-to-login">
                <h3>Já é um treinador Pokemon? <a href="http://127.0.0.1:5500/site/partials/components/login.html">Faça login aqui!</a></h3>
            </div>
        </main>
    </div>
</body>

</html>

<script src="../scripts/scriptCadastro.js"></script>