* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "../style/colors";


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-login{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), $primary-normal);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.hero-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0c3950;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    border-radius: 40px;
    max-height: 400px;
}

.text-login{
    margin-top: 50px;
    color: #FFF;
    margin-bottom: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.login-content{
    display: flex;
    flex-direction: column;
}

.inputs-login{
    display: flex;
    flex-direction: column;
}

.input_login{
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: transparent;
    border-color: aliceblue;
    padding: 14px;
    color: white;
}

.botao-login{
    display: flex;
    justify-content: center;
}

.login{
    margin-top: 14px;
    border-radius: 10px;
    border-color: black;
    padding: 14px;
    min-width: 210px;
}

.login:hover{
    cursor: pointer;
    background-color: #022d42b7;
    border-color: #FFF;
    color: #FFF;
}

.ref-to-cadastro{
    margin-top: 70px;
    font-size: 12px;
    a{
        color: red;
    }
}