* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "../style/colors";

//#001035
body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    position: relative;

}

.bg-treinador {
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../../assets/fundo\ livre.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-treinador {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0c3950;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    border-radius: 40px;
    border-top: 10px #222;
    max-height: 400px;
}

.texto-treinador {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 20px;
    color: #DCDCDC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: center;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.conhecer-mais {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.2em black;
}

button {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;

}

.botao-conhecer {
    margin-top: 30px;
    padding: 25px;
    border-radius: 12px;
    border-color: transparent;
    background-color: #FFF;
    min-width: 500px;
    color: #222;
    font-size: 18px;
}

.botao-conheco {
    margin-top: 20px;
    padding: 25px;
    border-radius: 12px;
    border-color: transparent;
    background-color: #FFF;
    min-width: 500px;
    color: #222;
    font-size: 18px;
}

.botao-conhecer:hover{
    background-color: #00293d;
    color: #FFF;
    border-color: #FFF;
}

.botao-conheco:hover{
    background-color: #00293d;
    color: #FFF;
    border-color: #FFF;
}

.texto-levar-login {
    margin-top: 80px;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.2em black;

    a {
        cursor: pointer;
        color: red;
        text-shadow: none;
    }

}